<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>NAMES</string>
	<string>Holly</string>
	<string>Marie</string>
	<string>Saul</string>
	<string>Flynn</string>
	<string>2</string>
	<string>Louis</string>
	<string>Carol</string>
	<string>Pete</string>
	<string>Ted</string>
	<string>2</string>
	<string>Todd</string>
	<string>Gus</string>
	<string>Mike</string>
	<string>Andrea</string>
	<string>1</string>
	<string>Jack</string>
	<string>Tuco</string>
	<string>Victor</string>
	<string>Emilio</string>
	<string>1</string>
	<string>Brock</string>
	<string>Badger</string>
	<string>Huell</string>
	<string>Gretchen</string>
	<string>2</string>
	<string>Lydia</string>
	<string>Tyrus</string>
	<string>Jane</string>
	<string>Gale</string>
	<string>1</string>
	<string>Combo</string>
	<string>Hank</string>
	<string>Tio</string>
	<string>Declan</string>
	<string>1</string>
	<string>Elliott</string>
	<string>Kuby</string>
	<string>Jesse</string>
	<string>Tucker</string>
	<string>2</string>
	<string>Gomie</string>
	<string>Krazy 8</string>
	<string>Spooge</string>
	<string>Tortuga</string>
	<string>1</string>
	<string>Carmen</string>
	<string>Bogdan</string>
	<string>Skyler</string>
	<string>Clovis</string>
	<string>2</string>
	<string>Tap the right button if the characters survived in the TV show, Breaking Bad</string>
</array>
</plist>
