<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>WORDS IV</string>
	<string>Bread</string>
	<string>Water</string>
	<string>Meat</string>
	<string>Salad</string>
	<string>2</string>
	<string>Wedge</string>
	<string>Cone</string>
	<string>Triangle</string>
	<string>Cube</string>
	<string>1</string>
	<string>Iron</string>
	<string>Toaster</string>
	<string>Blender</string>
	<string>Vacuum</string>
	<string>1</string>
	<string>Grass</string>
	<string>Trees</string>
	<string>Bush</string>
	<string>Leaves</string>
	<string>2</string>
	<string>Poker</string>
	<string>Bridge</string>
	<string>Stud</string>
	<string>Old Maid</string>
	<string>2</string>
	<string>Driver</string>
	<string>Pilot</string>
	<string>Captain</string>
	<string>General</string>
	<string>1</string>
	<string>Mean</string>
	<string>Bad</string>
	<string>Ornery</string>
	<string>Crabby</string>
	<string>2</string>
	<string>Hybrid</string>
	<string>Mixture</string>
	<string>Combo</string>
	<string>Merger</string>
	<string>1</string>
	<string>Sarah</string>
	<string>Meghan</string>
	<string>Angie</string>
	<string>Karey</string>
	<string>2</string>
	<string>Wood</string>
	<string>Metal</string>
	<string>Mineral</string>
	<string>Steel</string>
	<string>1</string>
	<string>Tap the left button if the first word is a type of golf club</string>
</array>
</plist>
