<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>NAMES III</string>
	<string>Miami</string>
	<string>Virginia</string>
	<string>Arizona</string>
	<string>Pittsburgh</string>
	<string>2</string>
	<string>Wisconsin</string>
	<string>Michigan</string>
	<string>Iowa</string>
	<string>Indiana</string>
	<string>1</string>
	<string>Colorado</string>
	<string>Kansas</string>
	<string>Akron</string>
	<string>Hawaii</string>
	<string>2</string>
	<string>Illinois</string>
	<string>Minnesota</string>
	<string>Iowa</string>
	<string>Ohio St</string>
	<string>1</string>
	<string>Iowa</string>
	<string>Michigan</string>
	<string>Purdue</string>
	<string>Indiana</string>
	<string>1</string>
	<string>Wyoming</string>
	<string>Toledo</string>
	<string>Troy</string>
	<string>Oregon</string>
	<string>2</string>
	<string>Syracuse</string>
	<string>Stanford</string>
	<string>Memphis</string>
	<string>Utah</string>
	<string>2</string>
	<string>Nwestern</string>
	<string>Michigan</string>
	<string>Iowa</string>
	<string>Illinois</string>
	<string>1</string>
	<string>Houston</string>
	<string>Idaho</string>
	<string>Nevada</string>
	<string>Tulsa</string>
	<string>2</string>
	<string>Ohio St</string>
	<string>Illinois</string>
	<string>Michigan</string>
	<string>Indiana</string>
	<string>1</string>
	<string>Tap the left button for Big Ten universities</string>
</array>
</plist>
