<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>LETTERS IV</string>
	<string>Al</string>
	<string>Bi</string>
	<string>Xe</string>
	<string>Lu</string>
	<string>2</string>
	<string>W</string>
	<string>Cr</string>
	<string>Fe</string>
	<string>Zn</string>
	<string>1</string>
	<string>Sr</string>
	<string>Tl</string>
	<string>Br</string>
	<string>Ar</string>
	<string>2</string>
	<string>Ho</string>
	<string>Rn</string>
	<string>Ra</string>
	<string>Fr</string>
	<string>2</string>
	<string>Cn</string>
	<string>Cd</string>
	<string>Ti</string>
	<string>Sc</string>
	<string>1</string>
	<string>Rf</string>
	<string>Os</string>
	<string>Au</string>
	<string>Hg</string>
	<string>1</string>
	<string>He</string>
	<string>H</string>
	<string>Be</string>
	<string>Li</string>
	<string>2</string>
	<string>K</string>
	<string>Lr</string>
	<string>Gd</string>
	<string>At</string>
	<string>2</string>
	<string>Y</string>
	<string>Hf</string>
	<string>Db</string>
	<string>Sg</string>
	<string>1</string>
	<string>Ni</string>
	<string>Co</string>
	<string>Fe</string>
	<string>Mn</string>
	<string>1</string>
	<string>Tap the left button for transition metals</string>
</array>
</plist>
