<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>WORDS III</string>
	<string>Can</string>
	<string>Cat</string>
	<string>Pan</string>
	<string>Map</string>
	<string>1</string>
	<string>Dog</string>
	<string>Log</string>
	<string>Lot</string>
	<string>Tag</string>
	<string>2</string>
	<string>Bet</string>
	<string>Vet</string>
	<string>Pet</string>
	<string>Pen</string>
	<string>1</string>
	<string>Kit</string>
	<string>Put</string>
	<string>Tin</string>
	<string>Nip</string>
	<string>2</string>
	<string>Run</string>
	<string>Bun</string>
	<string>Ran</string>
	<string>Ban</string>
	<string>2</string>
	<string>Net</string>
	<string>Ten</string>
	<string>New</string>
	<string>Wet</string>
	<string>1</string>
	<string>Oat</string>
	<string>Ram</string>
	<string>Yam</string>
	<string>Tao</string>
	<string>1</string>
	<string>Not</string>
	<string>Net</string>
	<string>Top</string>
	<string>Par</string>
	<string>2</string>
	<string>Rig</string>
	<string>Wig</string>
	<string>Pot</string>
	<string>Eat</string>
	<string>2</string>
	<string>Pig</string>
	<string>Tie</string>
	<string>Lid</string>
	<string>Sip</string>
	<string>1</string>
	<string>Tap the left button if all the middle vowels are the same</string>
</array>
</plist>
