<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>LETTERS II</string>
	<string>N</string>
	<string>O</string>
	<string>E</string>
	<string>T</string>
	<string>2</string>
	<string>T</string>
	<string>O</string>
	<string>N</string>
	<string>E</string>
	<string>1</string>
	<string>N</string>
	<string>O</string>
	<string>T</string>
	<string>E</string>
	<string>1</string>
	<string>E</string>
	<string>N</string>
	<string>T</string>
	<string>O</string>
	<string>2</string>
	<string>T</string>
	<string>E</string>
	<string>E</string>
	<string>N</string>
	<string>1</string>
	<string>N</string>
	<string>E</string>
	<string>T</string>
	<string>O</string>
	<string>2</string>
	<string>N</string>
	<string>O</string>
	<string>O</string>
	<string>N</string>
	<string>1</string>
	<string>N</string>
	<string>O</string>
	<string>O</string>
	<string>T</string>
	<string>2</string>
	<string>N</string>
	<string>E</string>
	<string>E</string>
	<string>T</string>
	<string>2</string>
	<string>T</string>
	<string>E</string>
	<string>N</string>
	<string>T</string>
	<string>1</string>
	<string>Tap the left button if the letters spell a word</string>
</array>
</plist>
